/*universal*/
html {
  font-size: 14px;
  font-family: Open Sans;
}
body {

}

.btn {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.3rem;
}

.btn: hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn: active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}
/*universal*/

/*header*/
.navbar {
  max-width: 100%;
}
.active: active {
  color: #399bd1;
}

nav ul li {
  font-family: Open Sans;
  font-size: 1.1rem;
  font-weight: bold;
}

/*header*/

/*jumbotron*/
.jumbotron {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.jumbotron-bike .container {
  background-image: url(C:\projects\Jumpstart\resources\images\jumbotron-bike.jpg);
  text-align: center;

}

.jumbotron .container {
  text-align: center;
}

.jumbotron .container h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-top: 11.85rem;
}
.jumbotron .container p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron .container .btn {
  margin-bottom: 11.85rem;
  margin-top: 2.8rem;
}

.jumbotron .container a {
  padding: 1.3rem 0;
}
/*jumbotron*/

/*featured*/
.featured-project h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.catagories h3 {
  color: #399bd1;
}

.catagories p {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}
/*featured*/
.projects {
  margin-bottom: 5.85rem;
}
.projects h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}
.projects img {
  opacity: .7;
  overflow: hidden;

}
.trouble {
  text-align: center;
}
